<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                A simple primary alert—check it out!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                A simple secondary alert—check it out!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                A simple success alert—check it out!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                A simple danger alert—check it out!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="alert alert-info" role="alert">
                A simple info alert—check it out!
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                A simple danger alert—check it out!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="alert alert-primary" role="alert">
                A simple primary alert with <a href="#!" class="alert-link">an example link</a>. Give it a click if you
                like.
            </div>
            <div class="alert alert-light" role="alert">
                A simple light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
                A simple dark alert—check it out!
            </div>




        </div>
    </div>

    <div class="row my-5">
        <div class="col text-center">
            <h2>Alerts with Content</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
            <div class="alert alert-secondary" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
            <div class="alert alert-success" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
            <div class="alert alert-info" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
            <div class="alert alert-warning" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
            <div class="alert alert-danger" role="alert">
                <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x"></i></div>
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going
                    to run a bit longer so that you can see how spacing within an alert works with this kind
                    of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
                    and tidy.</p>
            </div>
        </div>
    </div>
</div>