<div class="container elements-section">

    <div class="row mt-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <h5>Regular</h5>
                    <br>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <br><br>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Rounded</h5>
                    <br>
                    <span class="badge badge-pill badge-primary">Primary</span>
                    <span class="badge badge-pill badge-secondary">Secondary</span>
                    <span class="badge badge-pill badge-success">Success</span>
                    <span class="badge badge-pill badge-danger">Danger</span>
                    <span class="badge badge-pill badge-warning">Warning</span>
                    <span class="badge badge-pill badge-info">Info</span>
                    <br><br>
                    <span class="badge badge-pill badge-light">Light</span>
                    <span class="badge badge-pill badge-dark">Dark</span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Link</h5>
                    <br>
                    <a href="#!" class="badge badge-primary">Primary</a>
                    <a href="#!" class="badge badge-secondary">Secondary</a>
                    <a href="#!" class="badge badge-success">Success</a>
                    <a href="#!" class="badge badge-danger">Danger</a>
                    <a href="#!" class="badge badge-warning">Warning</a>
                    <a href="#!" class="badge badge-info">Info</a>
                    <a href="#!" class="badge badge-light">Light</a>
                    <a href="#!" class="badge badge-dark">Dark</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Icons</h5>
                    <br>
                    <span class="badge badge-primary badge-icon badge-lg"><i
                            class="far fa-user-circle"></i>Primary</span>
                    <span class="badge badge-secondary badge-icon"><i class="far fa-user-circle"></i>Secondary</span>
                    <span class="badge badge-icon badge-success"><i class="far fa-user-circle"></i>Success</span>
                    <span class="badge badge-icon badge-danger"> <i class="far fa-user-circle"></i>Danger</span>
                    <span class="badge badge-icon badge-warning"><i class="far fa-user-circle"></i>Warning</span>
                    <span class="badge badge-icon badge-info"><i class="far fa-user-circle"></i>Info</span>
                    <span class="badge badge-icon badge-light"><i class="far fa-user-circle"></i>Light</span>
                    <span class="badge badge-icon badge-dark"><i class="far fa-user-circle"></i>Dark</span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h5>Style</h5>
            <br>
            <button type="button" class="btn btn-dark">
                Profile <span class="badge badge-secondary ml-2 mb-0 px-2 rounded-circle">9</span>
                <span class="sr-only">unread messages</span>
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-primary">
                Notifications <span class="badge badge-secondary ml-2 mb-0 px-2 rounded-circle">6</span>
            </button>
        </div>
    </div>

</div>