<div class="container-fluid">

    <div class="row pt-5">
        <div class="col-md-6 mt-4 d-flex justify-content-center">
            <div class="card rounded-lg animate-lg" style="width: 24rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-primary pt-3">design</h5>
                    <a href="#!" class="stretched-link text-dark h3 pt-2 pb-4 d-block">Lorem ipsum dolor enim ad minim
                        veniam quis.</a>
                    <p class="text-muted m-0">June 6, 2021</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 d-flex justify-content-center">
            <div class="card rounded-lg hover-translate-up-2 shadow-primary" style="width: 24rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-primary pt-3">Trending</h5>
                    <a href="#!" class="stretched-link text-dark h3 pt-2 pb-4 d-block">Lorem ipsum dolor enim ad minim
                        veniam quis.</a>
                    <div class="text-center">
                        <button class="btn btn-light">Learn More</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-6 mt-4 d-flex justify-content-center">

            <div class="card" style="width: 24rem;">
                <img src="@@path/assets/img/demo/cards.jpg" class="card-img-top" alt="card img top">
                <div class="card-body">
                    <div class="d-flex justify-content-between pt-3 px-0">
                        <span class="badge rounded-pill bg-primary px-3">Success</span>
                        <p class="text-muted m-0">July 15, 2021</p>
                    </div>
                    <a href="#!" class="stretched-link text-dark h3 pt-5 pb-4 d-block">Lorem ipsum dolor enim ad minim
                        veniam quis.</a>
                    <p class="text-muted m-0">Many desktop publishing packages and web page editors now use
                        Lorem
                        Ipsum
                        as their default text.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">

            <div class="row mt-5">
                <div class="col-12">
                    <div class="card bg-primary text-white" style="max-width: 22rem;">
                        <div class="card-header border-0">
                            <h5 class="font-weight-bold text-white pt-2"><i class="far fa-comment mr-1"></i>Trending
                            </h5>
                        </div>
                        <div class="card-body pt-0">
                            <p class="card-text text-white opacity-75">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit magna aliqua"
                            </p>
                            <footer>
                                <span class="text-white opacity-50">Someone Famous</span>
                            </footer>
                        </div>
                    </div>
                    <div
                        style="background: rgba(255,255,255,.3); width: 50px; height: 50px; border-radius: 50%; position: absolute; top: 0px; z-index: -20;">

                    </div>

                </div>
                <div class="col-12 mt-5">
                    <div class="card bg-secondary text-light card-social" style="max-width: 22rem;">
                        <div class="card-header border-0 pb-0 mt-1">
                            <h5 class="font-weight-bold text-white"><i class="far fa-comment mr-1"></i>Trending
                            </h5>
                        </div>
                        <div class="card-body">
                            <h4 class="text-capitalize text-white">Quote of the day</h4>
                            <p class="card-text text-white opacity-75 pt-2">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                            </p>

                            <span class="text-white opacity-50 float-end">Someone Famous</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-4 mt-4">
            <div class="card text-center px-1 py-3 hover-translate-up-4">
                <div class="card-body p-3">
                    <div class="card-title">
                        <a href="#!" class="stretched-link text-success"> <i class="fas fa-columns fa-3x"></i></a>
                    </div>
                    <div class="card-title">

                        <h4 class="text-dark pt-2 opacity-75">Card Heading</h4>
                    </div>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card text-center px-1 py-3 shadow-none bg-transparent">
                <div class="card-body p-3">
                    <div class="card-title">
                        <a href="#!" class="stretched-link"> <i class="fas fa-object-group fa-3x"></i></a>
                    </div>
                    <div class="card-title">

                        <h4 class="text-dark pt-2 opacity-75">Card Heading</h4>
                    </div>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet, consectetur elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card text-center px-1 py-3">
                <div class="card-body p-3">
                    <div class="card-title">
                        <a href="#!" class="stretched-link text-danger"> <i class="fas fa-window-restore fa-3x"></i></a>
                    </div>
                    <div class="card-title">

                        <h4 class="text-danger pt-2">Card Heading</h4>
                    </div>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">

            <div class="col-md-6 mt-4">
                <div class="card rounded-lg mx-auto" style="max-width: 28rem;">
                    <div
                        class="card-header bg-secondary py-3 rounded-lg border-bottom-left-radius-0 border-bottom-right-radius-0">
                        <a href="#!" class="h3 text-white"><i class="fas fa-long-arrow-alt-left mr-3"></i>Invoices</a>
                    </div>
                    <div class="card-body">

                        <div class="card shadow-primary my-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="text-primary">Web Hosting</h6>
                                        <span>Lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <h5>$999</h5>
                                    </div>
                                </div>
                                <a href="#!" class="stretched-link"></a>
                            </div>

                        </div>
                        <div class="card shadow-primary my-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="text-primary">Visual Design</h6>
                                        <span>Lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <h5>$799</h5>
                                    </div>
                                </div>
                                <a href="#!" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card shadow-primary my-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="text-primary">Priority Support</h6>
                                        <span>Lorem ipsum dolor</span>
                                    </div>
                                    <div>
                                        <h5>$299</h5>
                                    </div>
                                </div>
                                <a href="#!" class="stretched-link"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card rounded-lg mx-auto" style="max-width: 21rem;">
                    <div class="card-body">
                        <div class="card-title text-secondary">
                            <i class="fas fa-chess-board fa-2x"></i>
                        </div>
                        <div class="card-title">
                            <h4 class="text-primary">Strategy</h4>
                        </div>
                        <p class="card-text pt-2 pb-4">Lorem ipsum dolor sit amet, adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam.
                        </p>
                        <div>
                            <a href="#!" class="link-secondary btn-lg px-0">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card bg-danger rounded mx-auto" style="max-width: 18rem;">
                    <div class="card-body text-white">
                        <h4 class="card-title text-white pt-2 pb-3 px-2"><i class="far fa-bell pr-2"></i>Notification
                        </h4>
                        <h6 class="card-subtitle mb-3 text-white px-2">2 mins ago</h6>
                        <p class="card-text opacity-75 px-2">Lorem ipsum dolor sit amet elit, consectetur
                            adipiscing
                            ut, se do
                            eiusmod tempor incidid ut lab dolore magna aliqua enim ad minim veniam.</p>
                        <div class="text-center">
                            <button class="btn btn-light rounded-pill btn-sm">Let's Talk</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card bg-primary text-light d-flex justify-content-center align-items-center rounded mx-auto"
                    style="width: 14rem; height: 14rem;">
                    <div class="card-title mb-2">
                        <i class="fas fa-code fa-2x"></i>
                    </div>
                    <div class="text-center">
                        <h3 class="text-light">UX <br /> Research</h3>
                        <a href="#!" class="btn btn-sm btn-secondary mt-4 rounded-pill">Explore</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mt-3">
                <div class="card mx-auto py-1" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle my-2 text-muted">Card subtitle</h6>
                        <p class="card-text py-2">Some quick example text to build on the card title and make up the
                            bulk of
                            the
                            card's content.</p>
                        <a href="#!" class="card-link">Card link</a>
                        <a href="#!" class="card-link">Another link</a>
                    </div>
                </div>


            </div>
            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text py-2">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <div class="d-flex justify-content-end">
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">

            <div class="col-md-6 mt-4">
                <div class="card card-flat py-3">
                    <div class="card-body">
                        <div class="card-title py-1">
                            <i class="fas fa-dharmachakra fa-3x text-primary"></i>
                        </div>
                        <div class="card-title py-1">
                            <h4 class="text-secondary text-capitalize">Powerful technology</h4>
                        </div>
                        <p class="card-text lead">
                            Lorem ipsum dolor sit amet elit, adipiscing, do eiusmod tempor
                            incididunt ut eiusmod et dolor magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-body pt-5 text-center">
                        <h3 class="card-title text-primary">Scale BI platform with the cloud</h3>

                        <div class="pt-4 pb-2">
                            <a href="#!" class="btn btn-primary">Learn More <i
                                    class="fas fa-long-arrow-alt-right pl-2"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-img-animate" style="max-width: 20rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="img item 1">

                <div class="card-body">
                    <h5 class="card-title text-secondary text-uppercase">Technology</h5>
                    <h3 class="text-primary">Lorem ipsum dolor sit adipiscing elit</h3>

                    <a href="#!" class="stretched-link"></a>

                </div>
            </div>
        </div>
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-img-animate shadow-xl-dark" style="max-width: 20rem;">
                <img src="@@path/assets/img/demo/cloud.jpg" loading="lazy" class="card-img" alt="img item 2">
                <a href="#!" class="stretched-link"></a>
                <div class="card-title-hover">
                    <h3 class="text-white">info</h3>
                </div>

            </div>
        </div>
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-img-animate shadow-xl-dark rounded-lg" style="max-width: 20rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img" alt="img item 2">
                <a href="#!" class="stretched-link"></a>
                <div class="card-title-hover card-title-overlay">
                    <h1 class="text-white absolute-center">Info</h1>
                </div>

            </div>
        </div>
    </div>





    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 mt-4">
                <div class="card text-center bg-dark py-2">
                    <div class="card-header border-0">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card Heading</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a href="#!" class="btn btn-secondary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted border-0">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card text-center bg-primary">

                    <div class="card-body d-flex justify-content-start align-items-center">
                        <div class="p-3">
                            <h3 class="">Card Heading</h3>
                            <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed
                                do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 mt-5">
                <div class="card text-center bg-gradient-primary">

                    <div class="card-body d-flex justify-content-start align-items-center">
                        <div class="p-4 p-sm-5">
                            <h1 class="text-white text-capitalize mt-2">custom products for awesome teams</h1>
                            <p class="text-white pt-5">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed
                                do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card text-center bg-secondary">

                    <div class="card-body d-flex justify-content-start align-items-center">
                        <div class="p-4 p-sm-5">
                            <h1 class="text-white text-capitalize mt-2">custom products for awesome teams</h1>
                            <p class="text-white pt-5">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed
                                do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body text-center py-5 py-lg-6">
                        <h2 class="text-light mt-3">Research, Design & Build</h2>
                        <p class="lead  mt-4 p-sm-3">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse.</p>
                        <button class="btn btn-secondary rounded-pill mt-3">Read
                            More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-5 pt-5">
        <div class="col">
            <h5>Pricing Cards</h5>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center text-dark mt-10">
            <div class="col-lg-4 col-md-6 col-sm-9 mt-3 mb-5">
                <div class="card card-content">
                    <div class="card-header text-center">
                        <h2 class="text-success">Basic</h2>
                    </div>
                    <div class="card-body pt-1">
                        <div class="card-body-title text-center">
                            <h1 class="text-success display-3 font-weight-bold">
                                <sup class="h1 text-success">$</sup>5
                            </h1>
                        </div>
                        <div class="card-body-title text-center py-3">
                            <h6 class="font-weight-bold text-capitalize">Simple yet powerful</h6>
                        </div>
                        <ul class="list-group text-center list-group-flush list-group-transparent">
                            <li class="list-group-item">Lorem ipsum dolor sit</li>
                            <li class="list-group-item">Amet consectetur adipiscing</li>
                            <li class="list-group-item">Sed do eiusmod tempor</li>
                            <li class="list-group-item">Incididunt ut labore et</li>
                        </ul>
                        <footer class="pt-4">
                            <button class="btn btn-primary rounded-pill btn-block">
                                Purchase
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 mt-3 no-gutters">
                <div class="card card-content">
                    <div class="card-text-on-top bg-primary text-white">Best Value</div>
                    <div class="card-header text-center">
                        <h2 class="text-primary">Premium</h2>

                    </div>
                    <div class="card-body pt-1">
                        <div class="card-body-title text-center">
                            <h1 class="text-primary display-3 font-weight-bold">
                                <sup class="h1 text-primary">$</sup>18
                            </h1>
                        </div>
                        <div class="card-body-title text-center py-3">
                            <h6 class="font-weight-bold text-capitalize">Simple yet powerful</h6>
                        </div>
                        <ul class="list-group text-center list-group-flush list-group-transparent">
                            <li class="list-group-item">Lorem ipsum dolor sit</li>
                            <li class="list-group-item">Amet consectetur adipiscing</li>
                            <li class="list-group-item">Sed do eiusmod tempor</li>
                            <li class="list-group-item">Incididunt ut labore et</li>
                        </ul>
                        <footer class="pt-4">
                            <button class="btn btn-primary rounded-pill btn-block">
                                Purchase
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 mt-3">
                <div class="card card-content">
                    <div class="card-header text-center">
                        <h2 class="text-secondary">Ultimate</h2>
                    </div>
                    <div class="card-body pt-1">
                        <div class="card-body-title text-center">
                            <h1 class="text-secondary display-3 font-weight-bold">
                                <sup class="h1 text-secondary">$</sup>30
                            </h1>
                        </div>
                        <div class="card-body-title text-center py-3">
                            <h6 class="font-weight-bold text-capitalize">Simple yet powerful</h6>
                        </div>
                        <ul class="list-group text-center list-group-flush list-group-transparent">
                            <li class="list-group-item">Lorem ipsum dolor sit</li>
                            <li class="list-group-item">Amet consectetur adipiscing</li>
                            <li class="list-group-item">Sed do eiusmod tempor</li>
                            <li class="list-group-item">Incididunt ut labore et</li>
                        </ul>
                        <footer class="pt-4">
                            <button class="btn btn-primary rounded-pill btn-block">
                                Purchase
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col position-relative rounded-lg">
            <div class="row card-segment">
                <div class="col-md-6 card-segment-left px-3">

                    <img src="@@path/assets/img/demo/dashboard.svg" class="img-fluid" style="max-width: 290px;" />
                </div>
                <div class="col-md-6 card-segment-right">

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-description">Everywhere</h6>
                            <h5 class="card-title text-primary">Build custom charts</h5>
                            <p class="card-text">

                                Lorem ipsum dolor venenatis lectus magna
                                fringilla urna at porttitor rhoncus.
                                An ipsum sit amet porttitor eget dolor at in.
                                Vulputate eu scelerisque felis imperdiet proin.
                                At risus viverra adipiscing at in.
                                Gravida neque convallis a cras semper auctor neque.
                            </p>
                            <div class="text-center pt-1">
                                <button class="btn btn-primary rounded-pill hover-translate-up-1">Build
                                    charts</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>