<div class="container">

    <div class="row pt-5">

        <div class="col-sm-4 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#defaultBackdrop">
                Default
            </button>

            <!-- Modal -->
            <div class="modal fade" id="defaultBackdrop" tabindex="-1" role="dialog"
                aria-labelledby="defaultBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultBackdropLabel">Modal Title</h5>
                            <button type="button" class="close close-dark" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="opacity-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm rounded-pill"
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm rounded-pill"
                                data-dismiss="modal">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content bg-danger border-danger">
                        <div class="modal-header border-0">
                            <h5 class="modal-title text-white" id="exampleModalLabel">Attention</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <i class="fas fa-bell fa-4x mb-3 text-white"></i>
                            <p class="text-white mt-3 opacity-1">Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="py-4 px-3">
                            <div class="d-flex justify-content-between">

                                <button type="button" class="btn btn-light shift-up-2"
                                    data-dismiss="modal">Accept</button>
                                <button type="button" class="btn text-light" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popoverModal">
                Log in modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="popoverModal" tabindex="-1" role="dialog">
                <div class="modal-dialog  modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body py-4">

                            <div class="row pt-2 pb-4">
                                <div class="col text-center">
                                    <a class="navbar-brand" href="../">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <img src="@@path/assets/img/logo.svg" style="width: 10rem;">

                                        </div>
                                    </a>
                                </div>
                            </div>

                            <form action="" class="pt-4 pb-2">

                                <div class="form-group">

                                    <input type="email" class="form-control  rounded-lg"
                                        aria-describedby="emailHelp" placeholder="User Name" required>

                                </div>
                                <div class="form-group">

                                    <input type="password" class="form-control rounded-lg"
                                        placeholder="Password" required>
                                </div>

                                <div class="row pt-3">
                                    <div class="col">
                                        <button type="button" data-dismiss="modal"
                                            class="btn btn-block btn-primary rounded-lg">Sign
                                            In</button>

                                    </div>
                                </div>
                            </form>

                            <div class="row pt-2 pb-3">
                                <div class="col">
                                    <div class="text-center">
                                        <h6 class="text-muted text-uppercase pb-2">or</h6>
                                        <a class="btn btn-link btn-google mr-3"><i
                                                class="fab fa-google pr-1 fa-2x"></i></a>
                                        <a class="btn btn-link btn-linkedin mr-3"><i
                                                class="fab fa-linkedin pr-1 fa-2x"></i></a>
                                        <a class="btn btn-link btn-facebook"><i class="fab fa-facebook fa-2x"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col">
                                    <span>Don't have an account? <a href="#!" data-dismiss="modal">Sign Up</a></span>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>