<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="mt-5 text-center">

                <a class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="left"
                    title="UX Team" data-trigger="focus" tabindex="0"
                    data-content="Lorem ipsum dolor sit amet consectetur adipiscing." href="#!">
                    on left
                </a>


                <a class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="right"
                    title="Dev Team" data-trigger="focus" role="button" tabindex="0"
                    data-content="Lorem ipsum dolor sit amet consectetur adipiscing." href="#!">
                    on right
                </a>
            </div>

            <div class="mt-5 text-center">
                <a class="btn btn-primary btn-sm" data-toggle="popover" data-trigger="focus" data-placement="top"
                    title="Next Click" tabindex="0" role="button"
                    data-content="This popover will get dismissed on next click" href="#!">
                    on top
                </a>
                <a class="btn btn-primary btn-sm" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                    title="Next Click" tabindex="0" role="button"
                    data-content="This popover will get dismissed on next click" href="#!">
                    on bottom
                </a>
            </div>



        </div>


    </div>

</div>