<div class="container">
    <div class="row">

        <div class="col-12">

            <div class="mt-5 text-center">

                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top">
                    on top
                </button>


                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="left"
                    title="Tooltip on left">
                    on left
                </button>
            </div>

            <div class="mt-5 text-center">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                    title="Tooltip on bottom">
                    on bottom
                </button>

                <button type="button" class="btn btn-secondary btn-sm " data-toggle="tooltip" data-placement="right"
                    title="Tooltip on right">
                    on right
                </button>
            </div>



        </div>



    </div>

</div>