.accordion {

    .card-header {
        background: $card-bg;
    }

    .btn.btn-link {
        width: 100%;
        color: $dark;
    }

    & [data-toggle="collapse"] {
        position: relative;

        &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            transition: all .3s ease-in-out;
            background-image: $ti-arrow-icon;
            width: 2.75rem;
            height: 1rem;
            opacity: 1;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    & [data-toggle="collapse"]:not(.collapsed) {
        &:after {
            transform: translateY(-50%) rotate(180deg);
        }
    }


    &.accordion-flat {

        .card {
            box-shadow: none;
            border-bottom: 1px solid $card-border-color;
            border-radius: 0;
            background: transparent;

            & .card-header {
                background: transparent;
            }
        }
    }
}