<html lang="en">
@@include("./_header.html", {"path":"..", "title":"One Bootstrap UI kit by Themesin"})

<body>

    @@include("./_navigation.html", {"path":"..", "navbg": "navbar-dark bg-primary", "theme": "one"})

    <main>


        <div class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="py-5">
                            <div class="row pt-5 pb-10">
                                <div class="col">
                                    <div class="text-center">
                                        <h1 class="text-white display-2">One UI Kit</h1>
                                        <p class="h3 py-4 text-light">All Components</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Accordion</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_accordion.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Alerts</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_alerts.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Badge</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_badge.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Breadcrumb</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_breadcrumb.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Buttons</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_buttons.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Cards</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_card.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Carousel</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_carousel.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Dropdowns</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_dropdown.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Footers</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_footers.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Forms</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_forms.html", {"path":".."})

                                </div>
                            </div>
                        </div>


                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>CTA</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_jumbotron.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>List Groups</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_list-groups.html", {"path":".."})

                                </div>
                            </div>
                        </div>


                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Media</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_media.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Modal</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_modal.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Navbar</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_navbar.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Navs</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_navs.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Pagination</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_pagination.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Popovers</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_popovers.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Progress Bar</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_progress.html", {"path":".."})

                                </div>
                            </div>
                        </div>


                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Sections</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_sections.html", {"path":".."})

                                </div>
                            </div>
                        </div>


                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Spinners</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_spinners.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Toasts</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_toasts.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Tooltips</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_tooltips.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                        <div class="py-5">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <h2>Typography</h2>

                                    </div>
                                </div>
                            </div>

                            <div class="row my-5">
                                <div class="col">

                                    @@include("./components/_typography.html", {"path":".."})

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="container mb-8">

            <div class="row">
                <div class="col text-center">
                    <div class="pb-6 px-2 px-md-5 px-lg-10 d-flex justify-content-center">
                        <img src="/assets/img/logo.svg" class="img-fluid" alt="logo" />
                    </div>

                    <a class="btn btn-primary ml-1 btn-lg" target="_blank"
                        href="https://themesin.com/products/ui/one">Download Now
                        <i class="fas fa-download pl-2"></i></a>
                </div>
            </div>
        </div>



    </main>

    @@include("./_footer.html", {"path":".."})

    @@include("./_scripts.html", {"path":".."})


</body>

</html>