@keyframes animate-navbar-dropdown {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
        transition: visibility .5s, opacity .5s, transform .5s;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes fade-in {

    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes animate-form-text {

    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}