<header>
    <nav class="navbar navbar-expand-lg @@navbg">
        <a class="navbar-brand" href="/">
            <div class="d-flex align-items-center justify-content-center">
                <img src="@@path/assets/img/logo-white.svg">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav h5 ml-md-4">

                <li class="nav-item">
                    <a class="nav-link" href="@@path/index.html">Overview</a>
                </li>



                <li class="dropdown nav-item ">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Components
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg">
                        <div class="row py-3">

                            <div class="col-md-4">
                                <a class="dropdown-item" href="@@path/components/accordion.html">Accordion</a>
                                <a class="dropdown-item" href="@@path/components/alerts.html">Alerts</a>
                                <a class="dropdown-item" href="@@path/components/badge.html">Badges</a>
                                <a class="dropdown-item" href="@@path/components/breadcrumb.html">Breadcrumb</a>
                                <a class="dropdown-item" href="@@path/components/buttons.html">Buttons</a>
                                <a class="dropdown-item" href="@@path/components/card.html">Cards</a>
                                <a class="dropdown-item" href="@@path/components/carousel.html">Carousel</a>

                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="@@path/components/dropdown.html">Dropdowns</a>
                                <a class="dropdown-item" href="@@path/components/footers.html">Footers</a>
                                <a class="dropdown-item" href="@@path/components/forms.html">Forms</a>
                                <a class="dropdown-item" href="@@path/components/list-groups.html">List group</a>
                                <a class="dropdown-item" href="@@path/components/modal.html">Modal</a>
                                <a class="dropdown-item" href="@@path/components/navbar.html">Navbar</a>
                                <a class="dropdown-item" href="@@path/components/navs.html">Navs</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="@@path/components/pagination.html">Pagination</a>
                                <a class="dropdown-item" href="@@path/components/popovers.html">Popovers</a>
                                <a class="dropdown-item" href="@@path/components/progress.html">Progress</a>
                                <a class="dropdown-item" href="@@path/components/sections.html">Sections</a>
                                <a class="dropdown-item" href="@@path/components/toasts.html">Toasts</a>
                                <a class="dropdown-item" href="@@path/components/tooltips.html">Tooltip</a>
                                <a class="dropdown-item" href="@@path/components/typography.html">Typography</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item ">
                    <a class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm">
                        <div class="row py-2">
                            <div class="col-md-6">

                                <a class="dropdown-item" href="@@path/pages/home.html">Home</a>
                                <a class="dropdown-item" href="@@path/pages/about.html">About</a>
                                <a class="dropdown-item" href="@@path/pages/work.html">Work</a>
                                <a class="dropdown-item" href="@@path/pages/blog.html">Blog</a>
                                <a class="dropdown-item" href="@@path/pages/contact.html">Contact</a>


                            </div>
                            <div class="col-md-6">
                                <a class="dropdown-item" href="@@path/pages/blogpost.html">Blogpost</a>
                                <a class="dropdown-item" href="@@path/pages/about-v2.html">About 2</a>
                                <a class="dropdown-item" href="@@path/pages/blog-v2.html">Blog 2</a>
                                <a class="dropdown-item" href="@@path/pages/contact-v2.html">Contact 2</a>
                                <a class="dropdown-item" href="@@path/pages/404.html" target="_blank">404</a>

                            </div>

                        </div>

                    </div>
                </li>

                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Theme
                    </a>
                    <div class="dropdown-menu">
                        <div class="row py-2">
                            <div class="col">

                                <a class="dropdown-item" href="@@path/components/all.html""
                                    target=" _blank">All Components</a>
                                <a class="dropdown-item" href="https://themesin.com/documentation/@@theme"
                                    target="_blank">Documentation</a>
                                <a class="dropdown-item" href="https://themesin.com/company/contact"
                                    target="_blank">Support</a>


                            </div>

                        </div>

                    </div>
                </li>






            </ul>
            <ul class="navbar-nav ml-auto h5">
                <li class="nav-item px-2 mt-4 mt-lg-0">
                    <a class="btn btn-secondary btn-sm" href="https://themesin.com/products/ui/@@theme"
                        target="_blank">Download <i class="fas fa-download ml-2"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</header>